<ng-container *ngIf="products.length >= 1">
  <div class="container">
    <div class="row py-4">
      <div class="col-6">
        <div *ngFor="let prod of products" class="mb-2">
          <div>
            <img
              class="img-fluid w-50"
              src="{{ prod?.url }}"
              alt="{{ prod?.name }}"
              style="width: 130px; height: 270px"
            />
          </div>
          <p class="mb-2">{{ prod.name }}</p>
          <P class="mb-2">{{ prod.price }}</P>
          <form>
            <label for="amount">amount</label>
            <input
              type="number"
              value="{{ prod.quantity }}"
              id="amount"
              class="form-control w-25"
              (change)="handelChange($event, prod, prod.id, prod.quantity)"
            />
          </form>
          <button (click)="remove(prod)">remove</button>
        </div>
      </div>

      <div class="col-6">
        <form #formVal="ngForm" [formGroup]="formValue" (ngSubmit)="handelSubmit(formVal.value)">
          <!-- name -->
          <div class="my-2">
            <label for="name">enter your name</label>
            <input
              type="text"
              class="form-control"
              placeholder="enter your name"
              id="name"
              name="yourName"
              formControlName="yourName"
              [(ngModel)]="yourName"
              [class.is-valid]="allInput.yourName?.valid"
            [class.is-invalid]="
              allInput.yourName?.touched && allInput.yourName?.invalid
            "
            />
            <div
              class="alert alert-warning"
              [hidden]="
                allInput.yourName?.valid || allInput.yourName?.untouched
              "
            >
              <small *ngIf="allInput.yourName?.errors?.['required']">
                your Name is required
              </small>
              <small *ngIf="allInput.yourName?.errors?.['minlength']">
                your Name must be at least 3 letters
              </small>
            </div>
          </div>
          <!-- address -->
          <div class="my-2">
            <label for="address">enter your address</label>
            <input
              type="text"
              class="form-control"
              placeholder="enter your address"
              id="address"
              name="yourAddress"
              [(ngModel)]="yourAddress"
              formControlName="yourAddress"
            />
            <div
              class="alert alert-warning"
              [hidden]="
                allInput.yourAddress?.valid || allInput.yourAddress?.untouched
              "
            >
              <small *ngIf="allInput.yourAddress?.errors?.['required']">
                your Address is required
              </small>
              <small *ngIf="allInput.yourAddress?.errors?.['minlength']">
                your Address must be at least 8 letters
              </small>
            </div>
          </div>
          <!-- card number -->
          <div class="my-2">
            <label for="cardNumber">enter your card</label>
            <input
              type="text"
              class="form-control"
              placeholder="enter your card"
              id="cardNumber"
              name="yourCardNumber"
              [(ngModel)]="yourCardNumber"
              formControlName="yourCardNumber"
            />

            <div
              class="alert alert-warning"
              [hidden]="
                allInput.yourCardNumber?.valid ||
                allInput.yourCardNumber?.untouched
              "
            >
              <small *ngIf="allInput.yourCardNumber?.errors?.['required']">
                your CardNumber is required
              </small>
              <small *ngIf="allInput.yourCardNumber?.errors?.['pattern']">
                your CardNumber must be 14 number
              </small>
            </div>
          </div>
          <button
            type="submit"
            [disabled]="formValue.invalid"
            class="btn btn-success"
          >
            submit
          </button>
        </form>
      </div>
    </div>
    <p class="pt-5 fs-3 fw-bold">Total Price {{ grandTotal.toFixed(2) }}</p>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="text-center text-danger">
    <P>Your cart is empty</P>
  </div>
</ng-container>
